[submodule "ulib"]
	path = ulib
	url = https://github.com/andreasfink/ulib
[submodule "ulibasn1"]
	path = ulibasn1
	url = https://github.com/andreasfink/ulib
[submodule "ulibsctp"]
	path = ulibsctp
	url = https://github.com/andreasfink/ulib
[submodule "ulibm2pa"]
	path = ulibm2pa
	url = https://github.com/andreasfink/ulib
[submodule "ulibmtp3"]
	path = ulibmtp3
	url = https://github.com/andreasfink/ulib
[submodule "ulibgt"]
	path = ulibgt
	url = https://github.com/andreasfink/ulib
[submodule "ulibsccp"]
	path = ulibsccp
	url = https://github.com/andreasfink/ulib
[submodule "ulibtcap"]
	path = ulibtcap
	url = https://github.com/andreasfink/ulib
[submodule "ulibgsmmap"]
	path = ulibgsmmap
	url = https://github.com/andreasfink/ulib
[submodule "ulibsms"]
	path = ulibsms
	url = https://github.com/andreasfink/ulib
